* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(#fbf8cc, #fde4cf, #ffcfd2, #f1c0e8, #cfbaf0, #a3c4f3, #90dbf4, #8eecf5, #98f5e1, #b9fbc0)
    
}

.calculator {
    position: relative;
    display: grid;
    
}

form {
    box-shadow: 10px 10px 10px 1px;
    border-radius: 10px;

}

.value {
    grid-column: span 4;
    height: 100px;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
}

span {
    display: grid;
    width: 60px;
    height: 60px;
    color: #fff;
    background: black;
    place-items: center;
    border: 1px solid rgba(0, 0, 0, .1);
    cursor: pointer;
    border-radius:5px ;
    font-family: oxygen;
    font-size:20px ;
}

span.mul:hover {
    background: radial-gradient(#90ee90,#7cfc00);
    cursor: pointer;
    font-size:25px;
}
span.divi:hover {
    background: radial-gradient(#90ee90,#7cfc00);
    cursor: pointer;
    font-size:25px;
}
span.sub:hover {
    background: radial-gradient(#90ee90,#7cfc00);
    cursor: pointer;
    font-size:25px;
}

span:hover {
    background: radial-gradient(#C0C0C0,#A9A9A9); 
    opacity: 0.8;
    cursor: pointer;
    font-size:25px;
}

span.clear:hover {
    background: #DC143C;
    cursor: pointer;
}

span.clear {
    grid-column: span 2;
    width: 120px;
    background:dimgray;
    cursor: pointer;
    cursor: pointer;
}

span.plus {
    grid-row: span 2;
    height: 120px;
    cursor: pointer;
}
span.plus:hover {
    background: radial-gradient(#DC143C,#FF0000,#B22222);
    cursor: pointer;
    font-size:25px;
   
}

span.equal {
    background: #00ff00;
    grid-column: span;
    width: 60px;
    cursor: pointer;
    font-size: 30px;
}
span.equal:hover{
    background-image: linear-gradient(#32cd32,#90ee90);
    opacity : 0.8;
}